@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: Barlow;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@layer components {
  .box-styling {
    @apply rounded-md border border-gray-300 bg-white py-2 text-left shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-1 focus:ring-indigo-500;
  }

  .button-styling {
    @apply block box-styling bg-blue-500 text-white text-center font-bold w-56 mb-3;
  }

  .input-styling {
    @apply block mb-3 box-styling px-2 w-56 text-center;
  }
}
